<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>590519900133-p94bpmv52lgmk1l01q6ncorhgbb4begd.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.590519900133-p94bpmv52lgmk1l01q6ncorhgbb4begd</string>
	<key>API_KEY</key>
	<string>AIzaSyBbxAhbUCp3JDJiS8RKTy7gXQCT1uzwkzI</string>
	<key>GCM_SENDER_ID</key>
	<string>590519900133</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.checkIn</string>
	<key>PROJECT_ID</key>
	<string>check-in-d72d2</string>
	<key>STORAGE_BUCKET</key>
	<string>check-in-d72d2.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:590519900133:ios:4929f8f05ef1b8f733c10c</string>
</dict>
</plist>